<h1>Welcome to ADMIN Panel</h1>
<div>
    <div
      class="card"
      style="width: 18rem; border: 1px solid black; margin-top: 5px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Username : {{ userDetails.username }}</h5>
        <h5 class="card-title">Quiz Title : {{ userDetails.quizTitle }}</h5>
        <h5 class="card-title">Maximum Marks : {{ userDetails.quizMaxMarks }}</h5>
        <h5 class="card-title">Marks Obtained : {{ userDetails.marksGot1 }}</h5>
        <h5 class="card-title">Attempted Questions : {{ userDetails.attempted1 }}</h5>
        <h5 class="card-title">Correct Answers : {{ userDetails.correctAnswers1 }}</h5>
        <h5 class="card-title">Date : {{ userDetails.Date }}</h5>
        <h5 class="card-title">Time : {{ userDetails.Time }}</h5>
        <h5 class="card-title">Number Of Attempts : {{ userDetails.NumberOfAttemps }}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">{{ userDetail?.subtitle }}</h6> -->
        <!-- <p class="card-text">{{ userDetail.content }}</p> -->
         <!-- <a href="{{ userDetail.link1 }}" class="card-link">Card link</a> -->
        <!-- <a href="{{ userDetail.link2 }}" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
  
  